body{
    padding: 0;
    margin: 0;
    color: white;
    background-color: hsl(240,30.16%,12.35%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
*{
    font-family: Arial, sans-serif;
}
.main-container{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;

}
header{
    align-self: flex-end;
    display: flex;
    column-gap: 20px;
}
header select {
    border: none;
    color: white;
    background-color: hsl(240,30.16%,12.35%);
    font-size: 15px;
}.inner-container{
    background-color: hsl(198.52,69.3%,57.84%);
    display: flex;
    justify-content: space-around;
    column-gap: 3rem;
    border-radius: 20px;
    padding:2rem ;
    color: black;

}
.inner-container span{
    font-size: 12px;
}

.resources{

    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    border-right: 1px solid black;
}
.resources div{
    display: flex;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
   

}
.developers{

    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    border-right: 1px solid black;
}
.developers div{
    display: flex;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 20px;
 }
.image-description{
    flex-basis: 25%;
  
    display: flex;
    flex-direction: column;
   
}

.description{
   
   
   display: flex;
   flex-direction: column;
   column-gap: 2rem;
}

h3{
    font-size: 12px;
}
.bold{
    font-weight: bold;
}
.border{
    border-bottom: 2px solid rgb(65, 65, 166);
    color: rgb(65, 65, 166);
}
.color-white{
    color: aliceblue;
}
.back-ground{
   background-color: hsl(194.44,69.23%,69.41%);
   
   padding:0.5rem 7rem 0.5rem 1rem;
   border-radius: 20px;
   display: flex;
   justify-content: flex-start;
   transform: translateX(-1rem);
}
.author{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
